body {
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

button:hover {
    background-color: #0056b3;
}

#messageInput{
    width: 500px;
    height: 100px;
    margin-bottom: 10px;
}
